.advantages-items
	display: flex
	flex-direction: column
	float: left
	align-items: center
	width: 22%
	margin: 0 2%
	margin-top: 50px	

	> .title
		margin-top: 25px	
		margin-bottom: 20px
		text-align: center
		white-space: nowrap

	> .text
		margin-top: 20px
		text-align: center
		&.-nomargin
			margin-top: 0

	&.-pullright
		margin-left: 13%

@media screen and (max-width: 980px)
	.advantages-items
		width: 29%

		&.-pullright
			margin-left: 0
		
@media screen and (max-width: 768px)
	.advantages-items
		width: 100%
		margin: 40px 0
	
		&.-pullright
			margin-left: 0
