.advantages-items
	display: flex
	flex-direction: column
	float: left
	align-items: center
	width: 22%
	text-align: center
	margin: 0 2%
	margin-top: 50px	

	> .title
		margin-top: 25px	
		font-weight: 700
		margin-bottom: 20px
		white-space: nowrap

	> .text
		margin-top: 20px
		font-size: 14px
		&.-nomargin
			margin-top: 0

	&.-pullright
		margin-left: 13%
		
