.connection-form
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	width: 70%
	height: 440px
	margin-left: 15%
	margin-top: 40px
	padding: 0 10%
	border: 1px solid #d19c1e

	> .input
		width: 100%
		min-height: 34px
		font-style: italic
		margin-bottom: 30px
		padding: 6px 12px

	> .text
		margin-bottom: 20px
		font-size: 14px
		line-height: 1.25em
		text-align: left

	> .link
		align-self: flex-start
		text-transform: capitalize
		font-weight: 300

@media screen and (max-width: 768px)
	.connection-form
		width: 98%
		margin-left: 1%
		padding: 0 1%