@import 'variablies'

.connection-form
	width: 100%
	padding: 75px 10%
	margin-top: 40px
	background: linear-gradient(to bottom, #ffffff, #303030 90%) 
	text-align: center

	> .input:first-child
		margin-right: 20px
		background: $svg_mail no-repeat
		background-position: 10px
		background-size: 20px

	> .input:nth-child(2)
		background: $svg_person no-repeat
		background-position: 10px
		background-size: 20px

	> .input
		width: 45%
		height: 34px
		padding: 6px 10px 6px 35px
		line-height: 34px
		margin-bottom: 25px
		font-style: italic

		&:focus
			background-color: rgba(255, 255, 255, .5)

	> .textarea
		display: block
		width: calc(90% + 25px)
		padding: 5px
		margin: 0 auto
		margin-bottom: 20px
		background: transparent
		border: 1px solid #E5E6E7

		&:focus
			background-color: rgba(255, 255, 255, .5)

	> .text
		font-size: 14px
		font-weight: bold
		line-height: 1.25em
		text-align: left

	> .link:nth-child(6)
		color: #11be25
		font-weight: 300
		text-transform: capitalize

	> .link:last-child
		display: inline-block
		margin-top: 20px
		align-self: center


@media screen and (max-width: 480px)
	.connection-form
		padding: 50px 0
		> .input
			width: 95%

		> .input:first-child
			margin-right: 0

		> .textarea
			width: 95%

		> .text
			color: rebeccapurple