//@import 'variablies'

.our-advantages
	display: flex
	flex-wrap: wrap
	width: 100%

//
//	.title
//		&.-svg:before
//			position: absolute
//			top: 0
//			left: calc((100% - 35px)/2)
//			display: block
//			width: 35px
//
//	.advantages-items:nth-child(1)
//		.title
//			&.-svg:before
//				content: $svg_planning
		
//		
//					content: $svg_lock
//
//		
//		
//					content: $svg_employee
//	
//					content: $svg_badge
//		
//					content: $svg_gears
//			
//					content: $svg_money
				

@media screen and (max-width: 768px)
	.our-advantages
		margin-top: 40px
		flex-direction: column
