.our-lawyer
	display: flex
	flex-direction: column
	justify-content: center
	align-items: flex-start
	width: 100%
	height: 700px
	margin-top: 100px
	padding-left: 50%
	background: url('../../img/bg_lawyer.jpg') no-repeat -250px

	> span:nth-child(1)
		margin-bottom: 20px
		font-size: 48px
		font-weight: 700

	> span:nth-child(2),
	> p:nth-child(3)
		font-family: 'Roboto Regular'	
		font-size: 18px
		color: #303030
		line-height: 1.45em

	> p:nth-child(3)
		margin-top: 40px

@media screen and (max-width: 768px)
	.our-lawyer
		align-items: center
		padding-left: 40%
		padding-right: 5%
		background: url('../../img/bg_lawyer.jpg') no-repeat 35%
		text-align: center

@media screen and (max-width: 480px)
	.our-lawyer
		padding-left: 25%
		background: url('../../img/bg_lawyer.jpg') no-repeat 35%
