.statistic-container
	display: flex
	flex-direction: row
	justify-content: space-around
	align-items: center
	width: 100%
	height: auto
	min-height: 500px
	padding: 30px 10%
	margin-top: 80px
	background: rgba(0, 0, 0, 0.79) url('../../img/bg_lawyer_content2.jpg') no-repeat -250px -80px

@media screen and (max-width: 768px)
	.statistic-container
		flex-direction: column	
		margin-top: 50px
		background: rgba(0, 0, 0, 0.79) url("../../img/bg_lawyer_content2.jpg") no-repeat 40%

@media screen and (max-width: 480px)
	.statistic-container
		margin-top: 50px