.statistic-counter
	display: flex
	flex-direction: column
	align-items: center
	text-align: center
	margin-bottom: 30px

	> .title
		font-size: 72px	
		font-weight: 700
		color: #d19c1e

	> .text
		margin-top: 30px
		line-height: 1.45em
		color: #fff
