.link
	border-bottom: 2px solid transparent
	color: #e6e6e6
	font-family: 'Roboto Regular'
	font-size: 16px
	font-weight: bold
	text-decoration: none
	text-transform: uppercase

	&:hover
		border-bottom: 2px solid #fff

	&.-logo
		color: #D19C1E
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
		font-weight: 900
		font-size: 34px
	
	&.-phone
		color: #e6e6e6
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
		font-size: 18px
		white-space: nowrap
		
	&.-borderout
		&:hover
			border-color: transparent
	
	&.-orange
		color: #d19c1e

	&.-blue
		color: #2a6496
