/* line 1, ../../sass/components/activity-direction.sass */
.activity-direction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  flex-basis: 48%;
}
/* line 9, ../../sass/components/activity-direction.sass */
.activity-direction > .title {
  font-size: 24px;
  font-weight: 900;
}
/* line 13, ../../sass/components/activity-direction.sass */
.activity-direction > .link {
  margin-top: 20px;
  font-size: 16px;
  text-transform: capitalize;
}
/* line 18, ../../sass/components/activity-direction.sass */
.activity-direction > .category {
  margin-top: 20px;
}

@media screen and (max-width: 980px) {
  /* line 22, ../../sass/components/activity-direction.sass */
  .activity-direction {
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  /* line 27, ../../sass/components/activity-direction.sass */
  .activity-direction > .title {
    font-size: 22px;
  }
  /* line 30, ../../sass/components/activity-direction.sass */
  .activity-direction > .link {
    font-size: 15px;
  }
}
