/* line 1, ../../sass/components/location-form.sass */
.location-form {
  width: 100%;
  height: 500px;
  margin-top: 100px;
  background: #303030;
}

@media screen and (max-width: 768px) {
  /* line 8, ../../sass/components/location-form.sass */
  .location-form {
    height: auto;
  }
}
