/* line 1, ../../sass/components/location-info.sass */
.location-info {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  padding-left: 5%;
}
/* line 9, ../../sass/components/location-info.sass */
.location-info:after {
  position: absolute;
  left: -50px;
  top: 50%;
  content: "";
  border: 30px solid transparent;
  border-right: 40px solid #303030;
}
/* line 17, ../../sass/components/location-info.sass */
.location-info > .link {
  display: block;
  margin-top: 120px;
}
/* line 21, ../../sass/components/location-info.sass */
.location-info > .text {
  display: block;
  color: #fff;
  font-size: 20px;
}
/* line 26, ../../sass/components/location-info.sass */
.location-info > .text:nth-child(even) {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  /* line 30, ../../sass/components/location-info.sass */
  .location-info {
    width: 100%;
    padding: 10px 10px;
    background: #303030;
  }
  /* line 35, ../../sass/components/location-info.sass */
  .location-info:after {
    display: none;
  }
  /* line 38, ../../sass/components/location-info.sass */
  .location-info > .link {
    display: inline-block;
    margin-top: 0;
  }
  /* line 42, ../../sass/components/location-info.sass */
  .location-info > .text {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
  }
  /* line 48, ../../sass/components/location-info.sass */
  .location-info > .text:nth-child(even) {
    margin-top: 0;
    float: right;
  }
  /* line 52, ../../sass/components/location-info.sass */
  .location-info > .text:nth-child(2n+3) {
    text-align: left;
  }
  /* line 55, ../../sass/components/location-info.sass */
  .location-info > .text {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  /* line 60, ../../sass/components/location-info.sass */
  .location-info > .link {
    font-size: 30px;
  }
  /* line 63, ../../sass/components/location-info.sass */
  .location-info > .text {
    font-size: 10px;
  }
  /* line 65, ../../sass/components/location-info.sass */
  .location-info > .text > .link {
    font-size: 10px;
  }
}
