/* line 1, ../../sass/components/main-menu.sass */
.main-menu {
  width: 100%;
  height: 80px;
  border-bottom: 3px solid #262626;
  background: #303030;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 10, ../../sass/components/main-menu.sass */
.main-menu > .link:first-child {
  margin-left: 5%;
}
/* line 13, ../../sass/components/main-menu.sass */
.main-menu > .link:last-child {
  margin-right: 10%;
}
