/* line 1, ../../sass/components/navigation-list.sass */
.navigation-list {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  align-items: center;
}
/* line 7, ../../sass/components/navigation-list.sass */
.navigation-list li {
  padding: 5px;
}
/* line 10, ../../sass/components/navigation-list.sass */
.navigation-list .link {
  padding: 10px 10px;
}

@media screen and (max-width: 480px) {
  /* line 14, ../../sass/components/navigation-list.sass */
  .navigation-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  /* line 21, ../../sass/components/navigation-list.sass */
  .navigation-list > li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #a8d6ff;
  }
  /* line 26, ../../sass/components/navigation-list.sass */
  .navigation-list > li > .link {
    display: flex;
    width: 100%;
    border: none;
  }
  /* line 31, ../../sass/components/navigation-list.sass */
  .navigation-list > li:hover {
    transition: 0.3s all;
    background: #414141;
  }
  /* line 35, ../../sass/components/navigation-list.sass */
  .navigation-list > li:not(:hover) {
    transition: 0.7s all;
  }
  /* line 38, ../../sass/components/navigation-list.sass */
  .navigation-list > li:first-child {
    border-top: 1px solid #a8d6ff;
  }
}
@media screen and (max-width: 768px) {
  /* line 42, ../../sass/components/navigation-list.sass */
  .navigation-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  /* line 49, ../../sass/components/navigation-list.sass */
  .navigation-list > li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #a8d6ff;
  }
  /* line 54, ../../sass/components/navigation-list.sass */
  .navigation-list > li > .link {
    display: flex;
    width: 100%;
    border: none;
  }
  /* line 59, ../../sass/components/navigation-list.sass */
  .navigation-list > li:hover {
    transition: 0.3s all;
    background: #414141;
  }
  /* line 63, ../../sass/components/navigation-list.sass */
  .navigation-list > li:not(:hover) {
    transition: 0.7s all;
  }
  /* line 66, ../../sass/components/navigation-list.sass */
  .navigation-list > li:first-child {
    border-top: 1px solid #a8d6ff;
  }
}
