/* line 3, ../../sass/components/our-advantages.sass */
.our-advantages {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 768px) {
  /* line 37, ../../sass/components/our-advantages.sass */
  .our-advantages {
    margin-top: 40px;
    flex-direction: column;
  }
}
