/* line 1, ../../sass/components/our-lawyer.sass */
.our-lawyer {
  width: 100%;
  display: flex;
  background: url("../../img/bg_lawyer.jpg") no-repeat -250px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 700px;
  margin-top: 100px;
  padding-left: 50%;
}
/* line 12, ../../sass/components/our-lawyer.sass */
.our-lawyer > span:nth-child(1) {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* line 17, ../../sass/components/our-lawyer.sass */
.our-lawyer > span:nth-child(2),
.our-lawyer > p:nth-child(3) {
  font-family: "Roboto Regular";
  font-size: 18px;
  color: #303030;
  line-height: 1.45em;
}
/* line 24, ../../sass/components/our-lawyer.sass */
.our-lawyer > p:nth-child(3) {
  margin-top: 40px;
}
