/* line 1, ../../sass/components/our-thematic.sass */
.our-thematic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}
/* line 11, ../../sass/components/our-thematic.sass */
.our-thematic > .title {
  margin-top: 20px;
  font-size: 48px;
}
/* line 15, ../../sass/components/our-thematic.sass */
.our-thematic > .text {
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  /* line 19, ../../sass/components/our-thematic.sass */
  .our-thematic {
    width: 100%;
  }
}
