/* line 1, ../../sass/components/statistic-counter.sass */
.statistic-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
/* line 8, ../../sass/components/statistic-counter.sass */
.statistic-counter > .title {
  font-size: 72px;
  font-weight: 700;
  color: #d19c1e;
}
/* line 13, ../../sass/components/statistic-counter.sass */
.statistic-counter > .text {
  margin-top: 30px;
  line-height: 1.45em;
}
