/* line 1, ../../sass/elements/link.sass */
.link {
  border-bottom: 2px solid transparent;
  color: #e6e6e6;
  font-family: "Roboto Regular";
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 10, ../../sass/elements/link.sass */
.link:hover {
  border-bottom: 2px solid #fff;
}
/* line 13, ../../sass/elements/link.sass */
.link.-logo {
  color: #D19C1E;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 34px;
}
/* line 19, ../../sass/elements/link.sass */
.link.-phone {
  color: #e6e6e6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  white-space: nowrap;
}
/* line 26, ../../sass/elements/link.sass */
.link.-borderout:hover {
  border-color: transparent;
}
/* line 29, ../../sass/elements/link.sass */
.link.-orange {
  color: #d19c1e;
}
/* line 32, ../../sass/elements/link.sass */
.link.-blue {
  color: #2a6496;
}
/* line 35, ../../sass/elements/link.sass */
.link.-aligned {
  text-align: center;
}
/* line 38, ../../sass/elements/link.sass */
.link.-button {
  background: #303030;
  padding: 20px;
  border: 1px solid #ffa500;
}
/* line 43, ../../sass/elements/link.sass */
.link.-button:hover {
  transition: 0.3s all;
  background: #ffa500;
  color: #303030;
}
/* line 48, ../../sass/elements/link.sass */
.link.-button:not(:hover) {
  transition: 0.7s all;
}

@media screen and (max-width: 480px) {
  /* line 52, ../../sass/elements/link.sass */
  .link {
    font-size: 14px;
  }
}
