/* line 1, ../../sass/elements/text.sass */
.text {
  color: #333;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.45em;
}

@media screen and (max-width: 480px) {
  /* line 8, ../../sass/elements/text.sass */
  .text {
    font-size: 14px;
  }
}
