/* line 1, ../../sass/elements/title.sass */
.title {
  color: #ffffff;
  font-family: "Roboto Regular";
  font-size: 22px;
  text-align: center;
}

@media screen and (max-width: 980px) {
  /* line 8, ../../sass/elements/title.sass */
  .title {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  /* line 12, ../../sass/elements/title.sass */
  .title {
    font-size: 18px;
  }
  /* line 15, ../../sass/elements/title.sass */
  .title.-thematic {
    font-size: 26px;
  }
}
